.header {
  padding: 20px 50px 25px;
  background-color: var(--black);
  color: var(--bright-gold);
  cursor: pointer;
  font-family: "Playfair Display";

  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: var(--box-shadow);
}

#site-navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #site-name {
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 50px;
  }
}

ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin-right: 20px;

  .link {
    margin: 0 20px;
  }

  .link:hover {
    color: var(--light);
  }
}
